
body {
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
}



svg {
    display: block;
    margin: auto;
    background-color: black;
    width: 920px;
    height: 600px;
}