body {
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
}

svg {
    display: block;
    margin: auto;
    background-color: black;
    width: 1200px; /* Adjust this to change the width */
    height: 800px; /* Adjust this to change the height */
}

#city-name {
    color: white;
}

#info {
    margin: 30px;
    height: 900px; /* Adjust this to change the height of the info container */
}
